<app-default-layout>
    <div class="container mx-auto">
        <div class="center mt-[3.75rem] mb-[11rem]">
            <form>
                <div class="flex flex-col gap-[3.75rem] min-w-[29.375rem]">
                    <h1 class="font-title font-bold text-5xl">Create an account.</h1>
                    <div>
                        <div class="mb-[2rem]">
                            <div class="flex flex-col gap-2 mb-[1.5rem]">
                                <label class="ml-4" for="email">Email address</label>
                                <input id="email" type="email" placeholder="Enter your email address" class="outline-none p-4 border border-gray-300 rounded-3xl">
                            </div>
                            <div class="flex flex-col gap-2 mb-[1.5rem]">
                                <label class="ml-4" for="password]">Password</label>
                                <input id="password]" type="Password" placeholder="Enter your password" class="outline-none p-4 border border-gray-300 rounded-3xl">
                            </div>
                            <div class="flex flex-col gap-2 mb-[1.5rem]">
                                <label class="ml-4" for="confirmPassword">Confirm password</label>
                                <input id="confirmPassword" type="password" placeholder="Enter your password" class="outline-none p-4 border border-gray-300 rounded-3xl">
                            </div>
                            <button class="bg-primary text-white w-full py-4 rounded-full">Create</button>
                        </div>
                        <div>
                            <span class="mr-4">Already an account?</span>
                            <a routerLink="/login" class="underline underline-offset-2">Login</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</app-default-layout>